.nav {
  background-color: var(--bg);
  padding: 1rem 4.5rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav h1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 p {
  align-self: flex-end;
}

h1 a {
  color: var(--heading);
}

.nav .nav-search {
  flex: 1;
  display: flex;
  margin: 0 3%;
  align-items: center;
}

.nav .nav-search input {
  flex: 1;
  color: var(--helper);
  border: 1px solid var(--helper);
  height: 3.5rem;
  border-right: none;
  padding: 1rem 3rem;
  font-size: large;
  text-transform: uppercase;
}
input::placeholder{
  color: var(--helper);
}
/* .nav .nav-search button {
    color: var(--helper);
    border: 1px solid var(--helper);
    height: 3.5rem;
    padding: 1rem 3rem;
} */

ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

ul li {
  padding-left: 1.5rem;
}

ul li a {
  color: var(--black);
  transition: color 0.3s linear;
}

ul li a:hover,
ul li a:active {
  color: var(--helper);
}

ul.search-result {
  position: absolute;
  display: list-item;
  z-index: 10;
  background-color: var(--bg);
  width: 30rem;
  top: 7rem;
}

ul.search-result li {
  border: 1px solid var(--helper);
  padding: 0.5rem;
}

.asos{
  color: var(--helper);
}
