<nav class="nav">
  <h1>
    <a routerLink="">asos</a>
    <p class="asos">As Seen On Screen</p>
  </h1>
  <div *ngIf="menuType === 'user''default'" class="nav-search">
    <input
    #searchInput
      type="text"
      placeholder="Search Product"
      (keyup)="searchProduct($event)"
      (blur)="hideSearch()"
    />
    <button class="btn" (click)="submitSearch(searchInput.value)">Search</button>
    <ul class="search-result" *ngIf="searchResult">
      <li *ngFor="let product of searchResult">
        <a (mousedown)="redirecToDetails(product.id)">{{ product.productName }}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a  routerLink="seller-auth">Seller</a></li>
      <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="/user-auth">Login/Sign-up</a></li>
      <li><a routerLinkActive="active" routerLink="">Cart({{cartItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'user'">
      <li><a  routerLink="seller-auth">Seller</a></li>
      <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="">Cart({{cartItems}})</a></li>
      <li><a routerLinkActive="active" (click)="userLogOut()">Logout</a></li>
      <li><a class="active">{{userName| titlecase}}</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li>
        <a class="active">{{ sellerName | titlecase }}</a>
      </li>
      <li><a routerLink="seller-add-product">Add-product</a></li>
      <li><a routerLink="seller-home">Product-List</a></li>
      <li><a (click)="logOut()">LogOut</a></li>
    </ul>
  </div>
</nav>
