<nav class="nav">
  <h1>
    <a routerLink="">asos</a>
    <p>As Seen On Screen</p>
  </h1>
  <div *ngIf="menuType === 'default'" class="nav-search">
    <input
    #searchInput
      type="text"
      placeholder="Search Product"
      (keyup)="searchProduct($event)"
      (blur)="hideSearch()"
    />
    <button class="btn" (click)="submitSearch(searchInput.value)">Search</button>
    <ul class="search-result" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a href="">{{ item.productName }}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="seller-auth">Seller</a></li>
      <li><a routerLink="">Home</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="">Cart(0)</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-add-product">Add-product</a></li>
      <li><a routerLink="seller-home">Product-List</a></li>
      <li><a (click)="logOut()">LogOut</a></li>
      <li>
        <a>{{ sellerName | titlecase }}</a>
      </li>
    </ul>
  </div>
</nav>
