table {
    text-align: center;
    border-collapse: collapse;
    margin: 1rem auto;
    font-size: large;
  }
  
  table td,
  table th {
    padding: 1rem;
    min-width: 10rem;
    border: 1px solid var(--heading);
  }
  th, .action{
    color: var(--helper);
  }
  img{
    /* width: 10rem; */
    height: 10rem;
  }
  
  .product-list {
    text-align: center;
  }
  
  h3 {
    padding-top: 4rem;
    color: var(--helper);
  }
  
  