table {
  text-align: center;
  border-collapse: collapse;
  margin: 2rem auto;
  font-size: large;
}

table td,
table th {
  border: 1px solid var(--heading);
  padding: 1rem;
  min-width: 16rem;
}

img {
  /* width: 10rem; */
  height: 10rem;
}

.product-list {
  text-align: center;
  color: var(--helper);
}

h3 {
  padding-top: 4rem;
}

.update-link {
  margin-left: 3rem;
}
