.sign-up,
.login {
    text-align: center;
    /* background-color: #c8d6e5 ; */
}

.sign-up h3,
.login h3{
    color: var(--helper);
    padding: 5rem 0;
}

.auth-toggle-link{
    margin-top: 3rem ;
    font-size: 1.5rem;
    color: var(--helper);
    text-align: center;
    cursor: pointer;
}

