<div class="my-orders">
    <h3 class="text-center">My Orders</h3>
    <div class="row">
        <div class="col-sm-2">
            <span>Order</span>
        </div>
        <div class="col-sm-2">
            <span>Order ID</span>
        </div>
        <div class="col-sm-2">
            <span>Price</span>
        </div>
        <div class="col-sm-2">
            <span>Status</span>
        </div>
        <div class="col-sm-2">
            <span>Action</span>
        </div>
    </div>
    <div class="row orderData">
        <div class="col-sm-2">
            <img src="" alt="">
        </div>
        <div class="col-sm-2">
            <span>#100</span>
        </div>
        <div class="col-sm-2">
            <span>1200</span>
        </div>
        <div class="col-sm-2">
            <span>In Progress</span>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-danger">Cancel Order</button>
        </div>
    </div>
</div>