<div class="search-wrapper">
  <div
    class="row search-item"
    *ngIf="this.searchResult.length === 0; else elseBlock"
  >
    <h3 class="empty">
      Sorry !!! There is No Product Matching Your Search Result
    </h3>
  </div>
  <ng-template #elseBlock>
    <div class="row search-item" *ngFor="let product of searchResult">
      <div class="col-sm-3">
        <a routerLink="/details/{{ product.id }}">
          <img src="{{ product.productImgURL }}" alt=""
        /></a>
      </div>
      <div class="col-sm-8">
        <a routerLink="/details/{{ product.id }}">
          <h3>{{ product.productName }}</h3></a
        >
        <p>
          <strong>Price: {{ product.productPrice | currency:'INR' }}</strong>
        </p>
        <p>
          <span class="me-5">Color:{{ product.productColor }}</span
          ><span>Category: {{ product.productCategory }}</span>
        </p>
        <p>Product Details: {{ product.productDescription }}</p>
      </div>
    </div>
  </ng-template>
</div>
