
.product-header-img {
  object-fit: contain;
  height: 60rem;
  width: 100%;
}
.product-item img {
  width: 100%;
  height: 25rem;
  object-fit: contain;
}
.product-list-wrapper {
  padding: 2rem;
  background: var(--bg);
}
.home-wrapper h3 {
  text-align: center;
  color: var(--helper);
  padding: 4rem 0;
}
.product-item {
  border: 1px solid var(--helper);
  margin-bottom: 4rem;
  margin-right: 2rem;
}
.product-item .product-details {
  border-top: 1px solid var(--helper);
  padding: 0.5rem;
  border-bottom: 1px solid var(--helper);
}
h6.name-head {
  Color: var(--helper);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.product-price,
.product-details {
  text-align: center;
}
.product-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}
