<div class="home-wrapper">
  <ngb-carousel *ngIf="popularProducts">
    <ng-template *ngFor="let product of popularProducts" ngbSlide>
      <h3>Popular Products</h3>
      <div class="picsum-img-wrapper">
        <img
          class="product-header-img"
          src="{{ product.productImgURL }}"
          alt="{{ product.productName }}"
        />
      </div>
      <div class="carousel-caption">
        <h3>{{ product.productName }}</h3>
        <p>{{ product.productDescription }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <h3>Trendy Products</h3>
  <div class="product-list-wrapper">
    <div class="row">
      <div class="col-sm-4" *ngFor="let product of trendyProducts">
        <div class="product-item">
          <img
            src="{{ product.productImgURL }}"
            alt="{{ product.productName }}"
          />

          <div class="product-details">
            <h6 class="name-head">{{ product.productName }}</h6>
            <div class="product-price">
              <h6>Price : {{ product.productPrice }}</h6>
            </div>
            <div class="product-color">
              <h6>Color: {{ product.productColor }}</h6>
            </div>
          </div>
          <div class="product-footer">
            <a href="">View Details</a>
            <a href="">Add To Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
